/* ManageClassesPage.module.css */

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  direction: rtl;
  font-family: "Arial", sans-serif;
}

.modalOverlay {
  position: fixed;
  top: 0;
  right: 0; /* לתמיכה בכיוון RTL */
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1001;
}
